/* General */

.heading {
    font-size: 40px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.cutoff {
  width: 80vw;
}

hr {

  border-style:solid;
  border-radius: 1px;
  border-color: #351F93;
  width:100px;
}

.nodec{
    color: inherit;
    text-decoration: none;
}

.nodec:hover {
    color: red;
}


.box {
  display: block;
  background-color: #d6cbd3;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  height: 20px;
  width: 80px;
  left: 870px;
}

.box:hover{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.CV {
  top: 180px;
}

.scholar {
  top: 250px;
}

.arxiv {
  top: 320px;
}

.github {
  top: 390px;
}

/* Navigation */
.topnav {
  position: absolute;
  width: 95vw;
}

.topnav a.center {
  float: left;
  color: #111111;
  text-align: center;
  padding: 10px 10px 10px 80px;
  text-decoration: none;
  font-size: 42px;
  font-family: 'Heebo', sans-serif;

}

.toprightnav {
	padding-right: 100px
}

.toprightnav a {
  float: right;
  text-align: center;
  padding: 17px 38px;
  text-decoration: none;
  font-size: 17px;
  color: #111111;
  font-family: 'Open Sans Condensed', sans-serif;
}

.toprightnav a:hover {
  color: red;
}


/* AboutMe */

.about {
  position: absolute;
  top: 140px;
  left: 510px;
  align-content: center;
}

.about p {
  color: #454d5d;
  padding: 0px;
  font-family: 'Amiri', serif;
}

.line {
  line-height: 2;
  color: #454d5d;
  font-family: 'Raleway', sans-serif;
}

.photo {
  position: absolute;
  top: 160px;
  left: 150px;
}


/* Research Interests*/


.RI {
  position: absolute;
  top: 500px;
  left: 150px;
  width: 810px;
}

.RI p {
    color: #454d5d;
}

/* Recent News*/

.recent {
  position: absolute;
  top: 700px;
  left: 150px;
}

.recent p{
  color: #454d5d;
}

.boxrec {
  border-color: #111111;
  color: #454d5d;
  font-family: 'Raleway', sans-serif;
  width: 810px;
}

.boxrec .new {
  position: absolute;
  left: 90px;
}


/* Publications */

.off {
  position: absolute;
  top: 100px;
  left: 150px;
}

.journal {
  position: absolute;
  top: 100px;
  left: 150px;
}

.conf {
  position: absolute;
  top: 200px;
  left: 150px;
}

.speak {
  position: absolute;
  top: 400px;
  left: 150px;
}

.coll {
  position: absolute;
  top: 500px;
  left: 150px;
}

.listpub {
  color: #454d5d;
  font-family: 'Raleway', sans-serif;
}



/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}